.attendance-calendar {
text-align:  center;

}
.attendance-calendar table{
     margin-left: auto;
    margin-right: auto;
}
.attendance-calendar th {

}
.attendance-calendar td {
     padding:  5px 15px
}