
.navbar{
background-color: rgb(0, 153, 255);
padding: 10px 0;
margin-bottom: 10px;
}

  .navbar ul {
display: flex; /* Flexboxを使用する宣言 */
padding: 0; /* パディングをリセット */
justify-content: center;
list-style: none; /* リストスタイルを消す */

}
  .navbar li {

margin-right: 15px; /* 各リストアイテムの間に余白を追加 */
}

 .navbar a{
  color: white;
  text-decoration: none;
 }
 footer {
background-color: rgb(0, 153, 255);
padding: 20px 0;
margin-top: 20px;
display: flex;
justify-content: center;
 }
footer a{
  color: white;
  text-decoration: none;

 }